.sidebar .logo .simple-text,
body > .navbar-collapse .logo .simple-text {
  font-size: 11px !important;
}

.sidebar .sidebar-background,
body > .navbar-collapse .sidebar-background {
  background-image: linear-gradient(195deg, #42424a, #191919) !important;
}

.sidebar .nav li.active .nav-link,
body > .navbar-collapse .nav li.active .nav-link {
  background-image: linear-gradient(195deg, #e91e63, #e91e63) !important;
}
form.login-form input.form-control {
  width: 100%;
}
.srv-validation-message {
  font-size: 13px;
  color: red;
}

.btn-borderless {
  border: unset;
}

.form-check .form-check-label {
  padding-left: 0 !important;
}
.form-check-inline {
  margin-right: 3.75rem !important;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: #f8f8f8ad;
}
.loader {
  left: 50%;
  top: 40%;
  position: absolute;
}
.loader > img {
  width: 65%;
}

.main-panel > .content {
  padding: 15px 0 !important;
}

.normal-text {
  color: #374151;
  font-style: normal !important;
  font-size: 17px;
}

/******************************** DAHSBOARD PAGE CSS - START *************************************************/
.product-card-10 {
  border: 1px solid #dee2e6;
  /* width: 300px;
  height: auto; */
}

.product-card-10 .product-card-image {
  position: relative;
}

.product-card-10 .badge-ribbon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 45px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-transform: uppercase;
  background: #dc3545;
  color: #fff;
  z-index: 1;
  border-radius: 50%;
}

.product-card-10 .product-media {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid var(--bs-gray-300);
}

.product-card-10 .product-media img {
  transition: ease all 0.35s;
  transform: scale(1);
  width: 100%;
  height: 12vw;
  object-fit: cover;
}

.product-card-10 .product-action {
  padding-top: 8px;
}

.product-card-10 .product-action .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #0d6efd;
  color: #fff;
  margin: 0 2px;
  padding: 0;
  border-color: unset !important;
  border: unset !important;
}

@media (max-width: 575.98px) {
  .product-card-10 .product-action .btn {
    width: 26px;
    height: 26px;
    margin: 1px;
    font-size: 12px;
  }
}

.product-card-10 .product-action .btn:hover {
  background: #212529;
  color: #fff;
}

.product-card-10 .product-card-info {
  text-align: center;
  padding: 15px;
}

@media (max-width: 575.98px) {
  .product-card-10 .product-card-info {
    padding: 8px;
  }
}

.product-card-10 .rating-star {
  font-size: 12px;
  margin-bottom: 5px;
}

.product-card-10 .product-title {
  font-size: 14px;
  margin: 0;
}

.product-card-10 .product-title a {
  color: #212529;
}

.product-card-10 .product-price {
  margin-top: 8px;
  line-height: normal;
}

.product-card-10:hover .product-media img {
  transform: scale(1.03);
}

a {
  text-decoration: none;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

/******************************** DAHSBOARD PAGE CSS - END *************************************************/

/******************************** SEARCH BAR CSS - SATRT *************************************************/

.widget-26 {
  color: #3c4142;
  font-weight: 400;
}

.widget-26 tr:first-child td {
  border: 0;
}

.widget-26 .widget-26-job-emp-img img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.widget-26 .widget-26-job-title {
  min-width: 200px;
}

.widget-26 .widget-26-job-title a {
  font-weight: 400;
  font-size: 0.875rem;
  color: #3c4142;
  line-height: 1.5;
}

.widget-26 .widget-26-job-title a:hover {
  color: #68cbd7;
  text-decoration: none;
}

.widget-26 .widget-26-job-title .employer-name {
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  color: #3c4142;
  font-size: 0.8125rem;
  color: #3c4142;
}

.widget-26 .widget-26-job-title .employer-name:hover {
  color: #68cbd7;
  text-decoration: none;
}

.widget-26 .widget-26-job-title .time {
  font-size: 12px;
  font-weight: 400;
}

.widget-26 .widget-26-job-info {
  min-width: 100px;
  font-weight: 400;
}

.widget-26 .widget-26-job-info p {
  line-height: 1.5;
  color: #3c4142;
  font-size: 0.8125rem;
}

.widget-26 .widget-26-job-info .location {
  color: #3c4142;
}

.widget-26 .widget-26-job-salary {
  min-width: 70px;
  font-weight: 400;
  color: #3c4142;
  font-size: 0.8125rem;
}

.widget-26 .widget-26-job-category {
  padding: 0.5rem;
  display: inline-flex;
  white-space: nowrap;
  border-radius: 15px;
}

.widget-26 .widget-26-job-category .indicator {
  width: 13px;
  height: 13px;
  margin-right: 0.5rem;
  float: left;
  border-radius: 50%;
}

.widget-26 .widget-26-job-category span {
  font-size: 0.8125rem;
  color: #3c4142;
  font-weight: 600;
}

.widget-26 .widget-26-job-starred svg {
  width: 20px;
  height: 20px;
  color: #fd8b2c;
}

.widget-26 .widget-26-job-starred svg.starred {
  fill: #fd8b2c;
}
.bg-soft-base {
  background-color: #e1f5f7;
}
.bg-soft-warning {
  background-color: #fff4e1;
}
.bg-soft-success {
  background-color: #d1f6f2;
}
.bg-soft-danger {
  background-color: #fedce0;
}
.bg-soft-info {
  background-color: #d7efff;
}

.search-form {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}

.search-form input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 1rem;
  height: 100%;
  font-size: 1rem;
}

.search-form select {
  background: transparent;
  border: 0;
  padding: 1rem;
  height: 100%;
  font-size: 1rem;
}

.search-form select:focus {
  border: 0;
}

.search-form button {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  border-width: 0;
}

.search-form button svg {
  width: 24px;
  height: 24px;
}

.search-body {
  margin-bottom: 1.5rem;
}

.search-body .search-filters .filter-list {
  margin-bottom: 1.3rem;
}

.search-body .search-filters .filter-list .title {
  color: #3c4142;
  margin-bottom: 1rem;
}

.search-body .search-filters .filter-list .filter-text {
  color: #727686;
}

.search-body .search-result .result-header {
  margin-bottom: 2rem;
}

.search-body .search-result .result-header .records {
  color: #3c4142;
}

.search-body .search-result .result-header .result-actions {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-body .search-result .result-header .result-actions .result-sorting {
  display: flex;
  align-items: center;
}

.search-body
  .search-result
  .result-header
  .result-actions
  .result-sorting
  span {
  flex-shrink: 0;
  font-size: 0.8125rem;
}

.search-body
  .search-result
  .result-header
  .result-actions
  .result-sorting
  select {
  color: #68cbd7;
}

.search-body
  .search-result
  .result-header
  .result-actions
  .result-sorting
  select
  option {
  color: #3c4142;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .search-body .search-filters {
    display: flex;
  }
  .search-body .search-filters .filter-list {
    margin-right: 1rem;
  }
}

@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

.card-margin {
  margin-bottom: auto;
}
.card {
  border: 0;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card.search-form {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #e6e4e9;
  border-radius: 8px;
  margin: 0;
  width: 100%;
}

/******************************** SEARCH BAR CSS - END *************************************************/

/******************************** PRODUCT DETAIL PAGE CSS - START ***************************************/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  /* background-color: #eee; */
  font-family: "Poppins", sans-serif;
}

.card {
  background-color: #fff;
  border: none;
}

.product-detail.card {
  padding: 14px;
}

/* img {
  display: block;
  height: auto;
  width: 100%;
} */

.stars i {
  color: #f6d151;
}

.stars span {
  font-size: 13px;
}

hr {
  color: #d4d4d4;
}

/* .badge {
  padding: 5px !important;
  padding-bottom: 6px !important;
}

.badge i {
  font-size: 10px;
} */

.profile-image {
  width: 35px;
}

.comment-ratings i {
  font-size: 13px;
}

.username {
  font-size: 12px;
}

.comment-profile {
  line-height: 17px;
}

.date span {
  font-size: 12px;
}

.p-ratings i {
  color: #f6d151;
  font-size: 12px;
}

.btn-long {
  padding-left: 35px;
  padding-right: 35px;
}

.product-detail-buttons {
  margin-top: 15px;
}

.product-detail-buttons .btn {
  height: 46px;
}

.product-detail-buttons .cart {
  border-color: #ff7676;
  color: #ff7676;
}

.product-detail-buttons .cart:hover {
  background-color: #e86464 !important;
  color: #fff;
}

.product-detail-buttons .buy {
  color: #fff;
  background-color: #ff7676;
  border-color: #ff7676;
  margin-left: 10px;
}

.product-detail-buttons .buy:focus,
.buy:active {
  color: #fff;
  background-color: #ff7676;
  border-color: #ff7676;
  box-shadow: none;
}

.product-detail-buttons .buy:hover {
  color: #fff;
  background-color: #e86464;
  border-color: #e86464;
}

/******************************** PRODUCT DETAIL PAGE CSS - END ***************************************/

/******************************** SEARCH RESULT PAGE CSS - START ***************************************/
/* .grid {
  position: relative !important;
  width: 100% !important;
  background: #fff !important;
  color: #666666 !important;
  border-radius: 2px !important;
  margin-bottom: 25px !important;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1) !important;
}

.grid .grid-body {
  padding: 15px 20px 15px 20px;
  font-size: 0.9em;
  line-height: 1.9em;
} */

.search {
  color: #666666 !important;
  font-size: 0.9em;
  /* padding: 15px 20px 15px 20px; */
  line-height: 1.9em;


}
.search table tr td.rate {
  color: #f39c12;
  line-height: 50px;
}

.search table tr:hover {
  cursor: pointer;
}

.search table tr td.image {
  width: 50px;
}

.search table tr td img {
  width: 50px;
  height: 50px;
}

.search table tr td.rate {
  color: #f39c12;
  line-height: 50px;
}

.search table tr td.price {
  font-size: 1.5em;
  line-height: 50px;
}

.search #price1,
.search #price2 {
  display: inline;
  font-weight: 600;
}

.input-group {
  display: flex;
  align-items: center;
}

.button-minus,
.button-plus {
  height: 30px;
  width: 30px;
}

.quantity-field {
  flex-grow: 1;
}

/******************************** SEARCH RESULT PAGE CSS - END ***************************************/
