.sidebar .logo .simple-text,
body > .navbar-collapse .logo .simple-text {
  font-size: 11px !important;
}

.sidebar .sidebar-background,
body > .navbar-collapse .sidebar-background {
  background-image: linear-gradient(195deg, #42424a, #191919) !important;
}

.sidebar .nav li.active .nav-link,
body > .navbar-collapse .nav li.active .nav-link {
  background-image: linear-gradient(195deg, #e91e63, #e91e63) !important;
}
form.login-form input.form-control {
  width: 100%;
}
.srv-validation-message {
  font-size: 13px;
  color: red;
}

.btn-borderless {
  border: unset;
}

.form-check .form-check-label {
  padding-left: 0 !important;
}
.form-check-inline {
  margin-right: 3.75rem !important;
}